{
  "extends": "../../tsconfig.options.json",
  "compilerOptions": {
    "composite": true,
    "declaration": true,
    "declarationMap": true,
    "outDir": "./dist",
    "rootDir": "./src"
  },
  "include": ["src", "vitest.import-meta.d.ts"]
}
